{# src/cf/cfDeCryptBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cfDeCrypt/css/cf.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
    <nav>
        <ul class="navigation">
            <li><a href="{{ path('cfDeCryptBundle_rot13') }}">ROT13</a></li>
        </ul>
    </nav>
{% endblock %}