.cf-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form.cfForm { font-size: 16px; }
form.cfForm div { clear: left; margin-bottom: 10px; }
form.cfForm label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form.cfForm input[type="text"],
form.cfForm input[type="email"]
{ width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.cfForm textarea { width: 500px; height: 150px; line-height: 26px; font-size: 20px; }
form.cfForm input[type="submit"], form.cfForm button { margin-left: 110px; width: 508px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.cfForm input[type="submit"].halfButton, form.cfForm button.halfButton { width: 197px; block: inline;}
form.cfForm ul li { color: #ff0000; margin-bottom: 5px; }
.decodedText {border: 2px solid #F48A00; margin-left: 110px; margin-top: 10px; width: 500px;}